@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Identity</h1>
    <p>Visit the GitHub of the author, <a href="https://github.com/MEvanAW">MEvanAW</a>.</p>
</div>
